main div{
    margin-top: 20px;
    text-align: center;
}

main div img {
    max-height: 300px;
}

.pet-detail-container {
    margin: 10px;
    border: 1px solid black;
}

main div p {
    font-size: larger;
    font-weight: bold;
}