:root{
  --sky-blue: #87CEEB;
  --moss-green: #476930;
  --white: #FFFFFF;
  --marian-blue: #1C448E;
  --carrot-orange: #F9A03F;
}

body {
  background-color: var(--sky-blue);
}

/* Header Styles */
header{
  background-color: var(--carrot-orange);
  margin-top: 10px;
  margin-bottom: 10px;
}

header h1{
  text-align: center;
}

header img{
  width: 100%;
}

/* Navigation Styles */
nav{
  background-color: var(--carrot-orange);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  text-align: center;
  text-decoration: none;
  color: black;
  height: 50px;
  font-size: large;
  border: 1px solid black;
  margin: auto;
  width: 80%;
}

nav ul li:hover{
  background-color: var(--moss-green);
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Main Styles */
main{
  background-color: var(--carrot-orange);
}

/* Footer Styles */
footer{
  background-color: var(--carrot-orange);
  text-align: center;
}